edgeflow-inventory-webhook-workflow.json
{
  "name": "EdgeFlow Inventory Scanner Pro - Webhook Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "32558796-d16f-4878-abf7-1d96502fe8ae",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "edgeflow-inventory-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Process incoming inventory data\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Extract inventory details from webhook data\n  const inventoryGroup = data.inventoryGroup || data.group || 'Default Inventory';\n  const inventoryDetails = data.inventoryDetails || data.details || data.message || JSON.stringify(data);\n  \n  // Create processed item\n  processedItems.push({\n    json: {\n      inventoryGroup: inventoryGroup,\n      inventoryDetails: inventoryDetails,\n      timestamp: $now,\n      sourceData: data\n    }\n  });\n}\n\nreturn processedItems;"
      },
      "id": "process-data",
      "name": "Process Inventory Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "nft",
        "nftOperation": "createCollection",
        "collectionName": "={{ $json.inventoryGroup }}",
        "collectionSymbol": "={{ $json.inventoryDetails }}"
      },
      "id": "import-inventory",
      "name": "Import Inventory to Hedera",
      "type": "CUSTOM.hedera",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  message: 'Inventory imported successfully',\n  tokenId: $json.tokenId,\n  transactionId: $json.transactionId,\n  inventoryGroup: $('Process Inventory Data').first().json.inventoryGroup,\n  inventoryDetails: $('Process Inventory Data').first().json.inventoryDetails\n} }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Inventory Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Inventory Data": {
      "main": [
        [
          {
            "node": "Import Inventory to Hedera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import Inventory to Hedera": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
} 