edgeflow-inventory-with-hedera.json
{
  "name": "EdgeFlow Inventory with Hedera NFT Minting",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "edgeflow-inventory-hedera",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "edgeflow-inventory-hedera"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.itemName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validation-node",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "nft",
        "nftOperation": "mintNft",
        "tokenId": "0.0.1234567",
        "nftName": "={{ $json.itemName }}",
        "nftDescription": "={{ 'NFT for ' + $json.itemName + ' (SKU: ' + $json.sku + ')' }}",
        "nftImageUrl": "https://example.com/nft-image.jpg",
        "attributes": "={{ JSON.stringify([{ trait_type: 'SKU', value: $json.sku }, { trait_type: 'Price', value: $json.price.toString() }, { trait_type: 'Category', value: 'Inventory' }, { trait_type: 'Minted Date', value: new Date().toISOString() }]) }}"
      },
      "id": "hedera-node",
      "name": "Mint NFT",
      "type": "hedera",
      "typeVersion": 1,
      "position": [680, 200],
      "credentials": {
        "hederaApi": {
          "id": "hedera-credentials",
          "name": "Hedera Testnet"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Inventory logged and NFT minted successfully!', itemName: $('Webhook').first().json.itemName, sku: $('Webhook').first().json.sku, price: $('Webhook').first().json.price, tokenId: $('Mint NFT').first().json.tokenId, transactionId: $('Mint NFT').first().json.transactionId, serialNumbers: $('Mint NFT').first().json.serialNumbers, metadata: $('Mint NFT').first().json.metadata } }}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, message: 'Invalid input data. Please provide itemName, sku, and price.', receivedData: $json } }}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, message: 'NFT minting failed: ' + $json.message, error: true } }}",
        "options": {}
      },
      "id": "hedera-error-response",
      "name": "Hedera Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Mint NFT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mint NFT": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
} 