hedera-nft-workflow.json
{
  "name": "Hedera NFT Minting Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hedera-nft",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "hedera-nft"
    },
    {
      "parameters": {
        "operation": "mintNFT",
        "tokenName": "={{ $json.itemName }}",
        "tokenSymbol": "INV",
        "tokenMemo": "NFT for {{ $json.itemName }} (SKU: {{ $json.sku }})",
        "maxSupply": 1,
        "metadata": "{\"name\": \"{{ $json.itemName }}\", \"description\": \"NFT for {{ $json.itemName }} (SKU: {{ $json.sku }})\", \"image\": \"https://example.com/nft-image.jpg\", \"attributes\": [{\"trait_type\": \"SKU\", \"value\": \"{{ $json.sku }}\"}, {\"trait_type\": \"Price\", \"value\": \"{{ $json.price }}\"}, {\"trait_type\": \"Category\", \"value\": \"Inventory\"}, {\"trait_type\": \"Minted Date\", \"value\": \"{{ new Date().toISOString() }}\"}]}",
        "options": {}
      },
      "id": "hedera-node",
      "name": "Hedera NFT Minting",
      "type": "n8n-nodes-hedera.hedera",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Inventory logged and NFT minted successfully!\", \"itemName\": \"{{ $json.itemName }}\", \"sku\": \"{{ $json.sku }}\", \"price\": {{ $json.price }}, \"tokenId\": \"{{ $('Hedera NFT Minting').item.json.tokenId }}\", \"transactionId\": \"{{ $('Hedera NFT Minting').item.json.transactionId }}\", \"serialNumbers\": {{ $('Hedera NFT Minting').item.json.serialNumbers }}, \"metadata\": {{ $('Hedera NFT Minting').item.json.metadata }}}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"message\": \"Failed to mint NFT\", \"error\": \"{{ $json.error }}\"}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Hedera NFT Minting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hedera NFT Minting": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
} 