hedera-test-workflow.json
{
  "name": "Hedera Test Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "32558796-d16f-4878-abf7-1d96502fe8ae",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "hedera-test-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Process incoming data\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Extract inventory details from webhook data\n  const inventoryGroup = data.inventoryGroup || 'Default Inventory';\n  const inventoryDetails = data.inventoryDetails || 'No details provided';\n  \n  // Create processed item\n  processedItems.push({\n    json: {\n      inventoryGroup: inventoryGroup,\n      inventoryDetails: inventoryDetails,\n      timestamp: $now,\n      sourceData: data\n    }\n  });\n}\n\nreturn processedItems;"
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "nft",
        "nftOperation": "createCollection",
        "collectionName": "={{ $json.inventoryGroup }}",
        "collectionSymbol": "={{ $json.inventoryDetails }}"
      },
      "id": "hedera-node",
      "name": "Hedera Node",
      "type": "CUSTOM.hedera",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  message: 'Hedera workflow completed',\n  tokenId: $json.tokenId || 'N/A',\n  transactionId: $json.transactionId || 'N/A',\n  inventoryGroup: $('Process Data').first().json.inventoryGroup,\n  inventoryDetails: $('Process Data').first().json.inventoryDetails\n} }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Hedera Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hedera Node": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
} 