inventory-nft-workflow.json
{
  "name": "Hedera HCS Inventory Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inventory-nft",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "inventory-nft"
    },
    {
      "parameters": {
        "operation": "createTopic",
        "topicMemo": "Item: {{ $json.itemName }} (SKU: {{ $json.sku }})"
      },
      "id": "hedera-node",
      "name": "Hedera HCS Topic Creation",
      "type": "hedera",
      "typeVersion": 2.0,
      "position": [460, 300],
      "credentials": {
        "hederaApi": {
          "id": "hedera-credentials",
          "name": "Hedera API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Inventory item logged to Hedera HCS!\", \"itemName\": \"{{ $json.itemName }}\", \"sku\": \"{{ $json.sku }}\", \"price\": {{ $json.price }}, \"topicId\": \"{{ $('Hedera HCS Topic Creation').item.json.topicId }}\", \"transactionId\": \"{{ $('Hedera HCS Topic Creation').item.json.transactionId }}\", \"topicMemo\": \"{{ $('Hedera HCS Topic Creation').item.json.topicMemo }}\", \"metadata\": {\"name\": \"{{ $json.itemName }}\", \"description\": \"Inventory item logged to Hedera Consensus Service\", \"sku\": \"{{ $json.sku }}\", \"price\": {{ $json.price }}, \"createdDate\": \"{{ new Date().toISOString() }}\"}}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"message\": \"Failed to log inventory item to HCS\", \"error\": \"{{ $json.error }}\", \"itemName\": \"{{ $json.itemName }}\", \"sku\": \"{{ $json.sku }}\", \"price\": {{ $json.price }}}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Hedera HCS Topic Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hedera HCS Topic Creation": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}