test-hedera-workflow.json
{
  "name": "Test Hedera Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f9522019-e2fb-401a-b85f-bf43c41bc3bb",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "f9522019-e2fb-401a-b85f-bf43c41bc3bb"
    },
    {
      "parameters": {
        "resource": "nft",
        "nftOperation": "createCollection",
        "collectionName": "={{ $json.inventoryGroup }}",
        "collectionSymbol": "={{ $json.inventoryDetails }}",
        "credentials": {
          "hederaApi": {
            "id": "hedera-credentials",
            "name": "Hedera Testnet"
          }
        }
      },
      "id": "hedera-node",
      "name": "Hedera Import Inventory",
      "type": "CUSTOM.hedera",
      "typeVersion": 1.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, tokenId: $json.tokenId, transactionId: $json.transactionId, inventoryGroup: $json.inventoryGroup, inventoryDetails: $json.inventoryDetails } }}",
        "options": {}
      },
      "id": "response-node",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Hedera Import Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hedera Import Inventory": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
} 